/* START: GLOBAL STYLES */
html, body, #page {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #2C3E50;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
    font-weight: 300;
}

body {
    background-color: #ECF0F1;
    background: url('../images/pattern.png') fixed;
}

section {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

p {
    line-height: 28px;
}

a, a:focus, a:active {
    color: #319bc8;
    cursor: pointer;
}

a:hover {
    color: #319bc8;
}
/* END: GLOBAL STYLES */

/* START: PRELOADER BAR ON THE TOP*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background-color: #319bc8;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 12px;
    overflow: hidden;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace .pace-progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: -32px;
    bottom: 0;

    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;

    -webkit-animation: pace-stripe-animation 500ms linear infinite;
    -moz-animation: pace-stripe-animation 500ms linear infinite;
    -ms-animation: pace-stripe-animation 500ms linear infinite;
    -o-animation: pace-stripe-animation 500ms linear infinite;
    animation: pace-stripe-animation 500ms linear infinite;
}

@-webkit-keyframes pace-stripe-animation {
    0% { -webkit-transform: none; transform: none; }
    100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-moz-keyframes pace-stripe-animation {
    0% { -moz-transform: none; transform: none; }
    100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-o-keyframes pace-stripe-animation {
    0% { -o-transform: none; transform: none; }
    100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-ms-keyframes pace-stripe-animation {
    0% { -ms-transform: none; transform: none; }
    100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@keyframes pace-stripe-animation {
    0% { transform: none; transform: none; }
    100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
/* END: PRELOADER BAR ON THE TOP*/

/* START: NAVIGATION ON THE TOP */
.navbar-transparent {
    background-color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}

.navbar-transparent .navbar-nav li a {
    color: #505050;
}

.navbar-transparent .navbar-nav .active a {
    background-color: #dfdfdf;
}
/* END: NAVIGATION ON THE TOP */

/* START: SECTION HEADING */
.fancy {
    line-height: 0;
    text-align: center;
    margin-bottom: 35px;
}
.fancy span {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 0;
    top: 0;
}
/* END: SECTION HEADING */

/* START: COMMON UI ELEMENTS */
.orange {
    color: #319bc8;
}

.btn-half-block {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 50%;
}

.logo-circled {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: rgba(255, 255, 255, 0.8);
    background-color: #319bc8;
}

.btn-transparent {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: 1px solid #fff;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.btn-white, .btn-white:focus, .btn-white:active {
    color: #fff;
}

.btn-white:hover {
    color: #eee;
    text-decoration: none;
}

.btn-orange {
    background-color: #319bc8;
    color: #fff;
    border: 1px solid #fff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
    background-color: #319bc8;
    color: #fff;
}

.alert-small {
    padding: 6px 12px 6px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}
/* END: COMMON UI ELEMENTS */

/* START: HOME SECTION*/
#header {
    overflow: hidden;
    background: url('../images/home.jpg') fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

#intro {
    position: absolute;
    top: 25%;
    padding-bottom: 20px;
    background-color: rgba(160, 140, 120, 0.85);
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(160, 140, 120, 1);
}

#intro .ticker {
    overflow: hidden;
    height: 40px;
    vertical-align: baseline;
}

#intro .ticker h3 {
	margin-bottom: 0px;
    margin-top: 0px;
	height: 40px;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition:    margin-top 0.5s ease-in-out;
    -o-transition:      margin-top 0.5s ease-in-out;
    transition:         margin-top 0.5s ease-in-out;
}
/* END: HOME SECTION*/


/* START: ABOUT SECTION*/
#about .container, #work .container, #team .container, #contact .container {
    background-color: rgba(255, 255, 255, 1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#about .article h3 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 700;
}

#about .article p {
    margin-bottom: 50px;
}

#about .slide {
    color: #fff;
    background: rgba(255, 100, 25, 0.75);
    text-align: center;
    list-style-type: none;
    height: 60px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 30px;
}
/* END: HOME SECTION*/

/* START: SERVICES SECTION*/
#services {
    height: auto;
    background: url('../images/services.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -300px;
}

#services .container {
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#services .desc h2 {
    margin-top: 0px;
}

#services .desc p {
    margin-bottom: 20px;
}

#services .article h3{
    margin-top: 0px;
    font-weight: 700;
}

#services .article p {
    margin-bottom: 50px;
}

#services .article ul li {
    margin-bottom: 10px;
}

#services .article ul li:last-child {
    margin-bottom: 30px;
}
/* END: SERVICES SECTION*/

/* START: WORK SECTION*/
#work .container {
    background-color: rgba(255, 255, 255, 1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#work .desc h2 {
    margin-top: 0px;
}

#work .desc p {
    margin-bottom: 10px;
}

#work #filters {
    width: 100%;
    margin: 20px auto 30px auto;
    background-color: #f5f5f5;
}

#work #filters li {
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
}

#work #filters li.active {
    background-color: #fff;
    color: #319bc8;
}

#work #gallery {
    padding: 0;
}

#work #gallery li div {
    margin-bottom: 30px;
}

#work #gallery .mix{
    opacity: 0;
    display: none;
}
/* END: WORK SECTION*/

/* START: CLIENTS SECTION*/
#clients {
    height: auto;
    background: url('../images/clients.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#clients .container {
    background-color: rgba(40, 30, 20, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
}

#clients .desc h2 {
    margin-top: 0px;
}

#clients .desc p {
    margin-bottom: 50px;
}

#clients .statement div h4 {
    margin-top: 0px;
}

#clients .statement div p {
    margin-bottom: 30px;
}
/* END: CLIENTS SECTION*/

/* START: TEAM SECTION*/
#team .desc h2 {
    margin-top: 0px;
}

#team .desc p {
    margin-bottom: 50px;
}

#team .person {
    height: 400px;
    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 30px;
}

#team .person .info {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    margin-left: -15px;
}

#team .person .info h4 {
    margin-top: 0px;
    font-weight: 700;
}

#team .person .info p {
    width: 80%;
    margin: auto;
}

#team .person .info ul {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.75);
}
/* END: TEAM SECTION*/

/* START: CONTACT SECTION*/
#contact .desc h2 {
    margin-top: 0px;
}

#contact .desc p {
    margin-bottom: 50px;
}

#contact .option {
    padding-bottom: 30px;
}

#contact-details-wrapper
{
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    background: url('../images/stripes.png');
}

#contact-details {
    background-color: #fff;
    margin: -20px auto 15px auto;
    padding-top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #eee;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow:none !important;
    color: #2C3E50;
}
/* END: CONTACT SECTION*/


/* BEGIN: SCHEDULE */

  dl {
    padding: 0.5em;
  }
  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
  }
  dt:after {
    content: ":";
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    text-align: left;
  }

/* END: SCHEDULE */

/* START: FOOTER SECTION*/
#footer {
    font-size: 12px;
    text-align: center;
    margin: 20px auto;
}
/* END: FOOTER SECTION*/
